html {
  height: 100%;
}

body {
  margin: 0px;
  height: -webkit-fill-available;
}

#target {
  height: -webkit-fill-available;
}

.notification {
  width: 400px;
}

td {
  vertical-align: middle;
  display: table-cell;
}